body {
  background-color: pink;
}

.mainheader {
  color: white;
  font-size: 60pt;
}

.header, .subheader, .list {
  color: rgb(246, 123, 143);
}



button {
  background-color: pink;
  color: white;
  border-radius: 10px;
  border:2px solid rgb(246, 123, 143);
}